<section class="search">
  <form action="">
    <label for="place"></label>
    <input type="text" id="place" placeholder="Enter city or town...">
    <button id="search">Search</button>
  </form>
</section>

<section class="weather">
  <table id="places">
    <tbody></tbody>
  </table>
</section>